<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://pay.woyo.com/schema/tools/">
	<context>
<!-- 		<jdbc-connection driverClass="com.mysql.jdbc.Driver" -->
<!-- 			connectionURL="jdbc:mysql://121.41.105.153:3306/crowd?useUnicode=true&amp;characterEncoding=utf-8" userId="root" -->
<!-- 			password="111111"> -->
<!-- 		</jdbc-connection> -->
		<jdbc-connection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://127.0.0.1:3306/easy_trade" userId="root"
			password="123456">
		</jdbc-connection>
		
		<java-model-generator targetPackage="com.yc.easy.trade.domain.purchase"
			targetProject="target/generated-sources/main/src">
		</java-model-generator>
		
		<sqlmap-generator targetPackage="com.xcm.open.api.mapping"
			targetProject="target/generated-sources/main/resources">
		</sqlmap-generator>
		
		<dao-generator targetPackage="com.xcm.open.api.dao"
			targetProject="target/generated-sources/main/src">
		</dao-generator>
		
		<table tableName="purchase_contract" primaryKey="ID" />
		<table tableName="purchase_product" primaryKey="ID" />
		
	</context>
</config>