<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://pay.woyo.com/schema/tools/">
	<context>
<!-- 		<jdbc-connection driverClass="com.mysql.jdbc.Driver" -->
<!-- 			connectionURL="jdbc:mysql://121.41.105.153:3306/crowd?useUnicode=true&amp;characterEncoding=utf-8" userId="root" -->
<!-- 			password="111111"> -->
<!-- 		</jdbc-connection> -->
		<jdbc-connection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://127.0.0.1:3306/easy_trade" userId="root"
			password="123456">
		</jdbc-connection>
		
		<java-model-generator targetPackage="com.xcm.open.core.model"
			targetProject="target/generated-sources/main/src">
		</java-model-generator>
		
		<sqlmap-generator targetPackage="com.xcm.open.api.mapping"
			targetProject="target/generated-sources/main/resources">
		</sqlmap-generator>
		
		<dao-generator targetPackage="com.xcm.open.api.dao"
			targetProject="target/generated-sources/main/src">
		</dao-generator>
		
		<table tableName="purchase_contract" primaryKey="ID" />
		<!-- <table tableName="OPEN_ADVERTIS" primaryKey="ID" />
		<table tableName="OPEN_ADVERTIS_APPLICATION" primaryKey="ID" />
		<table tableName="OPEN_APP_INFORMATION" primaryKey="ID" />
		<table tableName="OPEN_CHANNEL" primaryKey="ID" /> 
		<table tableName="OPEN_CHANNEL_DETAIL" primaryKey="ID" />-->
		<!-- <table tableName="OPEN_CONTRACT" primaryKey="ID" />
		<table tableName="OPEN_LANDING_PAGE" primaryKey="ID" />
		<table tableName="OPEN_RULES" primaryKey="ID" /> -->
		<!-- <table tableName="OPEN_RULES_CPA" primaryKey="ID" />
		<table tableName="OPEN_MQMSG" primaryKey="ID" /> -->
		<!-- <table tableName="OPEN_RULES_CPS" primaryKey="ID" /> -->
		<!-- <table tableName="OPEN_SPREAD_KEYWORD" primaryKey="ID" /> -->
		<!-- <table tableName="OPEN_SPREAD_PLAN" primaryKey="ID" />
		<table tableName="OPEN_SPREAD_UNIT" primaryKey="ID" />
		<table tableName="OPEN_USER_BELONG" primaryKey="ID" />
		<table tableName="OPEN_USER_TRADE" primaryKey="ID" />
		<table tableName="OPEN_SERIALNO" primaryKey="ID" /> -->
		
	</context>
</config>